<html>
<head>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>hotspot</title>
  <link rel="stylesheet" type="text/css" href="css/load.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
  <script src="js/load.js"></script>
</head>
<body>
  <div class="container">
    <span class="dots"></span>
    <span class="dots"></span>
    <span class="dots"></span>
    <span class="dots"></span>
    <span class="dots"></span>
    <span class="dots"></span>
    <span class="dots"></span>
    <span class="dots"></span>
    <span class="dots"></span>
    <span class="dots"></span>
  </div>
</body>
</html>